:root {
  --fg: #000;
  --bg: #fff;
  --dim: #777;
  --border: #ddd;
}

@media (prefers-color-scheme: dark) {
  :root {
    --fg: #eee;
    --bg: #111;
    --dim: #888;
    --border: #333;
  }
}

body {
  background-color: var(--bg);
  color: var(--fg);
  font-family: "Resultat", sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 2rem 1.5rem 6rem;
  max-width: 1256px;
  margin: 0 auto;
  overflow: hidden;
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.header span {
  margin-right: auto;
}

.hero {
  margin: max(12vw, 6rem) 0;
}

.hero h1 {
  font-size: clamp(4rem, 20vw, 16rem);
  line-height: 1;
  text-indent: -1vw;
  margin-bottom: 10vw;
}

.hero p {
  max-width: 75ch;
  font-size: 1.125rem;
  margin-top: 1em;
}

@media only screen and (min-width: 960px) {
  .hero p {
    font-size: 1.5rem;
  }
}

.title {
  font-size: 1.5rem;
  margin-bottom: -2rem;
}

.specimen-label {
  color: var(--dim);
  margin-bottom: 1rem;
}

.specimen-xxxl {
  font-size: 96px;
  line-height: 1.125;
}

@media only screen and (min-width: 960px) {
  .specimen-xxxl {
    font-size: 256px;
  }
}

.specimen-xxl {
  font-size: 72px;
  line-height: 1.125;
}

@media only screen and (min-width: 960px) {
  .specimen-xxl {
    font-size: 192px;
  }
}

.specimen-xl {
  font-size: 56px;
  line-height: 1.25;
}

@media only screen and (min-width: 960px) {
  .specimen-xl {
    font-size: 144px;
  }
}

.specimen-l {
  font-size: 48px;
  line-height: 1.375;
}

@media only screen and (min-width: 960px) {
  .specimen-l {
    font-size: 96px;
  }
}

.specimen-m {
  font-size: 40px;
  line-height: 1.375;
}

@media only screen and (min-width: 960px) {
  .specimen-l {
    font-size: 64px;
  }
}

.specimen-s {
  font-size: 32px;
  line-height: 1.5;
}

.specimen-xs {
  font-size: 20px;
  line-height: 1.5;
}

@media only screen and (min-width: 960px) {
  .specimen-xs {
    column-count: 2;
    column-gap: 2rem;
  }
}

.specimen-xxs {
  font-size: 16px;
  line-height: 1.625;
}

@media only screen and (min-width: 960px) {
  .specimen-xxs {
    column-count: 3;
    column-gap: 1.75rem;
  }
}

.specimen-table {
  display: flex;
  flex-wrap: wrap;
  margin-left: 1px;
  margin-top: 1px;
}

.specimen-table span {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border);
  font-size: 1.5rem;
  width: 3rem;
  height: 3rem;
  margin-top: -1px;
  margin-left: -1px;
}

@media only screen and (min-width: 960px) {
  .specimen-table span {
    font-size: 2rem;
    width: 4.5rem;
    height: 4.5rem;
  }
}

.info {
  display: grid;
  gap: 2rem;
  max-width: 75ch;
}

hr {
  margin: 2rem 0;
  border-color: var(--border);
}

table {
  font-size: 0.875rem;
  line-height: 1.75;
  color: var(--dim);
}

a {
  text-decoration: underline solid currentColor 1px;
  text-underline-offset: 3px;
}

.desktop {
  display: none;
}

@media only screen and (min-width: 960px) {
  .desktop {
    display: block;
  }
}

.mobile {
  display: block;
}

@media only screen and (min-width: 960px) {
  .mobile {
    display: none;
  }
}
