:root {
  --fg: #000;
  --bg: #fff;
  --dim: #777;
  --border: #ddd;
}

@media (prefers-color-scheme: dark) {
  :root {
    --fg: #eee;
    --bg: #111;
    --dim: #888;
    --border: #333;
  }
}

html {
  font-size: 16px;
}

body {
  background-color: var(--bg);
  color: var(--fg);
  font-family: "Resultat", sans-serif;
  padding-top: 3rem;
}

hr {
  margin: 2rem 0;
  border-color: var(--border);
}

table {
  border-collapse: collapse;
  font-size: 0.875rem;
  line-height: 1.625rem;
  color: var(--dim);
  width: fit-content;
}

td {
  padding: 0 1.5rem 0 0;
}

a {
  text-decoration: underline solid currentColor 1px;
  text-underline-offset: 3px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 2rem 1.5rem 6rem;
  max-width: 1256px;
  margin: 0 auto;
  overflow: hidden;
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  background-color: color-mix(in srgb, var(--bg) 85%, transparent);
  backdrop-filter: blur(0.5rem);
  font-size: 0.875rem;
  padding: 0.75rem 1.5rem;
  position: sticky;
  top: 0;
}

.header span {
  margin-right: auto;
}

.header a {
  text-decoration-color: transparent;
}

.header a:hover {
  text-decoration-color: currentColor;
}

.hero {
  margin: max(12vw, 6rem) 0;
}

.hero h1 {
  font-size: clamp(4rem, 20vw, 16rem);
  line-height: 1;
  text-indent: -1vw;
  margin-bottom: 10vw;
}

.hero-content {
  display: grid;
  grid-template-columns: 1fr;
  align-items: flex-start;
  gap: 1.25rem 3rem;
  line-height: 1.625;

  @media (min-width: 960px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.preview {
  margin-bottom: 2rem;

  @media (min-width: 960px) {
    margin-bottom: 4rem;
  }
}

.preview p {
  font-size: 48px;
  line-height: 1.125;
  text-align: center;
  text-wrap: balance;

  @media (min-width: 960px) {
    font-size: 120px;
  }
}

.title {
  font-size: 2rem;
  margin-bottom: -2rem;
}

.specimen {
  text-wrap: pretty;
}

.specimen-label {
  color: var(--dim);
  font-size: 0.875rem;
  margin-bottom: 1rem;
}

.specimen-xxxl {
  font-size: 96px;
  line-height: 1.0625;

  @media (min-width: 960px) {
    font-size: 256px;
  }
}

.specimen-xxl {
  font-size: 72px;
  line-height: 1.125;

  @media (min-width: 960px) {
    font-size: 192px;
  }
}

.specimen-xl {
  font-size: 56px;
  line-height: 1.25;

  @media (min-width: 960px) {
    font-size: 144px;
  }
}

.specimen-l {
  font-size: 48px;
  line-height: 1.25;

  @media (min-width: 960px) {
    font-size: 72px;
  }
}

.specimen-m {
  font-size: 40px;
  line-height: 1.375;

  @media (min-width: 960px) {
    font-size: 48px;
  }
}

.specimen-s {
  font-size: 32px;
  line-height: 1.375;
}

.specimen-xs {
  font-size: 20px;
  line-height: 1.5;

  @media (min-width: 960px) {
    column-count: 2;
    column-gap: 2rem;
  }
}

.specimen-xxs {
  font-size: 16px;
  line-height: 1.625;

  @media (min-width: 960px) {
    column-count: 3;
    column-gap: 1.75rem;
  }
}

.specimen-table {
  display: flex;
  flex-wrap: wrap;
  margin-left: 1px;
  margin-top: 1px;
}

.specimen-table span {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border);
  font-size: 1.5rem;
  width: 3rem;
  height: 3rem;
  margin-top: -1px;
  margin-left: -1px;

  @media (min-width: 960px) {
    font-size: 2rem;
    width: 4.5rem;
    height: 4.5rem;
  }
}

.info {
  display: grid;
  gap: 2rem;
  max-width: 75ch;
}

.desktop {
  display: none;

  @media (min-width: 960px) {
    display: block;
  }
}

.mobile {
  display: block;

  @media (min-width: 960px) {
    display: none;
  }
}
